.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 2s;
}

.ex-1-square:hover{
    background: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.5s 0.2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background 1s;
}

.ex-4-square:hover{
    background: none;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
    margin: 35px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img{
    transition: all 3s;
}

.ex-7-img:hover{
    filter: grayscale(1) sepia(0.8);
}

.ex-8-img{
    transition: all 3s;
}

.ex-8-img:hover{
    filter: grayscale(0.5) sepia(0.8);
    border-radius: 20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s;
}

.ex-9-img:hover{
    filter: grayscale(0.5) sepia(0.8);
    border-radius: 20px;
    width: 570px;
    margin: 1px 15px;
}

.ex-10-icon {
    font-size: 60px;
    animation: giragira 1s infinite linear;
}

@keyframes giragira{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: giragiradue 1s linear;
}

@keyframes giragiradue{
    0%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: mezzogiro-top 2s linear;
}

@keyframes mezzogiro-top{
    0%{
        position: absolute;
        top: -10px;
        left: 10%;
    }
    50%{
        position: absolute;
        top: -10px;
        left: 70%;
    }
    100%{
        position: absolute;
        top: -10px;
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: mezzogiro-bottom 2s linear;
}

@keyframes mezzogiro-bottom{
    0%{
        position: absolute;
        bottom: -10px;
        right: 20%;
    }
    50%{
        position: absolute;
        bottom: -10px;
        right: 70%;
    }
    100%{
        position: absolute;
        bottom: -10px;
        right: 20%;
    }
}



.ex-13-button:hover .ex-13-top-white{
    animation: giro-completo-top 2s linear;
}

@keyframes giro-completo-top{
    0%{
        position: absolute;
        top: -10px;
        left: 10%;
    }
    25%{
        position: absolute;
        top: -10px;
        left: 90%;
    }
    50%{
        position: absolute;
        top: 90%;
        left: 90%;
    }
    75%{
        position: absolute;
        top: 90%;
        left: -10%;
    }
    100%{
        position: absolute;
        top: -10px;
        left: -10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: giro-completo-bottom 2s linear;
}

@keyframes giro-completo-bottom{
    0%{
        position: absolute;
        bottom: -10px;
        right: 20%;
    }
    25%{
        position: absolute;
        bottom: -10px;
        right: 90%;
    }
    50%{
        position: absolute;
        bottom: 90%;
        right: 90%;
    }
    75%{
        position: absolute;
        bottom: 90%;
        right: -20%;
    }
    100%{
        position: absolute;
        bottom: -10px;
        right: 20%;
    }
}